<p id="notice"><%= notice %></p>

<p>
  <b>Cid:</b>
  <%= @item.cid %>
</p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  function initialize() {
    //Not sure where I'm going to be getting the lat and lng values
    var latLng = new google.maps.LatLng(48.428421, -123.365644)

    var mapOptions = {
      center: latLng,
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title:"Location"
    });

    var infowindow = new google.maps.InfoWindow({
      content: " "
    });

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent('<h2>Here is the location</h2>');
      
      infowindow.open(map, this);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<p>
  <div id="map-canvas" style="height:400px; width:400px"></div>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
