<p id="notice"><%= notice %></p>

<%= render partial: "show_core_checklist" %>

<% @checklist.items.each do |i| %>
	<tr>
			<td>
			<%= i.title.strip %>
		</td>
		<% unless @checklist.approved %>
			<td>
			<%= i.status.strip %>
			</td>
		<% end %>
		<br>	
	</tr>
<% end %>

<% unless @checklist.approved %>

	<h2>Add an item:</h2>
	<%= form_for([@checklist, @checklist.items.build]) do |f| %>
		<div class="field">
			<%= f.label :title %><br />
			<%= f.text_field :title %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
<% end %>

<% if(@checklist.items.select{|item| item.status=="unanswered"}.empty? and not @checklist.approved) %>
	<%= link_to 'Approve', approve_checklist_path(@checklist) %> |
<% end %>
<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %> 
