<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @checklist.title %>
</p>

<p>
  <b>Status:</b>
  <%= @checklist.status %>
</p>

<% @checklist.items.each do |i| %>
	<tr>
		<td>
			<%= i.status %>
		</td>
		<td>
			<%= i.title %>
		</td><br>
	</tr>
<% end %>

<h2>Add an item:</h2>
<%= form_for([@checklist, @checklist.items.build]) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <%= hidden_field_tag "status" "unanswered"%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %> 
