<p id="notice"><%= notice %></p>

<%= render partial: "show_core_checklist" %>

<h2>Items</h2>
<%= render partial: "show_items", locals: {:section => "Plan Title"} %>
<%= render partial: "show_items", locals: {:section => "Main Body"} %>
<%= render partial: "show_items", locals: {:section => "Scenery"} %>
<%= render partial: "show_items", locals: {:section => "Deposit Statement"} %>
<%= render partial: "show_items", locals: {:section => "Integrated Survey Area"} %>
<%= render partial: "show_items", locals: {:section => "Miscellaneous"} %>
<%= render partial: "show_items", locals: {:section => "Electronic Plan"} %>

<% unless @checklist.approved %>

  <h2>Add an item:</h2>
  <%= form_for([@checklist, @checklist.items.build]) do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :section %><br/>
      <%= f.collection_select :section,
        ["Plan Title", "Main Body", "Scenery", "Deposit Statement",
          "Integrated Area Survey", "Miscellaneous", "Electronic Plan"],
        :to_s, :to_s %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_checklist_path(@checklist) %> |
<%= link_to 'Back', checklists_path %> 
